{% extends "components/base.html" %}

{% load i18n %}

{% block content %}

  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h3>{% trans "You want to delete the file"%}  "{{ object }}" ?</h3>
        </div>
        <div class="body">
          <form method="post" action="">
          {% csrf_token %}
          <br>
          <div class="row">
            <a class="btn btn-danger waves-effect" href="{% url 'archives:list' %}">
              {% trans "Cancel"%}
            </a>
            <button type="submit" value="" class="btn green" >
              {% trans "Delete"%}
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
