{% extends "components/base.html" %}

{% load i18n %}

{% load static %}

{% block extra_css %}
  <link href="{% static 'adminbsb-materialdesign/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>{% trans "Detail" %} {{archive.title}}</h2>
        </div>
        <div class="body">
          <p><b>{% trans "Reference" %}: </b> {{archive.reference}}</p>
          <p><b>{% trans "Code" %}: </b> {{archive.code.title}}</p>
          <p><b>{% trans "Year" %}: </b> {{archive.year}}</p>
          <p><b>{% trans "Validity" %}: </b>
            <span class="badge {% if a.is_invalid %}bg-red{% else %}bg-green{% endif %}">
              {{archive.validity_date}}
            </span>
          </p>
          <p><b>{% trans "Box" %}: </b> {{archive.box}}</p>
          <p><b>{% trans "Shelf" %}: </b> {{archive.shelf}}</p>
          <p><b>{% trans "Stand" %}: </b> {{archive.stand}}</p>
          <p><b>{% trans "Keywords" %}: </b> {{archive.keywords}}</p>
          <p><b>{% trans "Descripition" %}: </b> {{archive.description}}</p>
          {% if archive.file %}
            <p><b>{% trans "File" %}: </b> <a href="{{archive.file.url}}" target="_blank" > {% trans "See archive" %} </a></p>
          {% else %}
            <p><b>{% trans "File" %}: </b> <a href="#" > {% trans "No File" %} </a></p>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}


{% endblock %}
