{% extends "components/base.html" %}

{% load i18n %}

{% load static %}

{% block extra_css %}
  <link href="{% static 'plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="block-header">
</div>
<!-- Input -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "FORM ARCHIVE" as form_archive %}
        <h2>{{ form_archive | upper }}</h2>
      </div>
      <div class="body">
        {% include "components/messages.html" with form=form %}
          <form id="form_email" class="" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for fieldset in form.fieldsets %}
            <div class="row">
                {% for field in fieldset %}
                <div class="col-md-6">
                  <div class="form-group form-float">
                    {% if field.field.widget.input_type == 'select' %}
                      {{field}}
                    {% elif field.field.widget.input_type == 'checkbox' %}
                      {{field}}
                      <label for="{{field.auto_id}}">{{field.label}}</label>
                    {% else %}
                      <div class="form-line">{{field}}
                        <label class="form-label">{{field.label}}</label>
                      </div>
                    {% endif %}

                    {% if field.help_text  %}
                      <p class="help-text" id="{{field.id_for_label}}">
                        {{field.help_text|safe}}
                      </p>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
            </div>
          {% endfor %}
          <a href="{% url 'users:list' %}" class="btn btn-danger waves-effect">
            {% trans "Cancel" %}
          </a>
          <button type="submit" class="btn btn-primary waves-effect">{% trans "Send" %}</button>
          </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'plugins/momentjs/moment.js' %}"></script>
<script src="{% static 'plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
<script>
  $(function () {
    /*
    $('#id_validity').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY',
        clearButton: true,
        weekStart: 1,
        time: false
      });
    */

    $('#id_is_stand').change(function(){
      if ($('#id_is_stand').is(":checked")) {
        $('#id_shelf').parent().parent().parent().hide();
        // $('#id_shelf').val('');
        $('#id_stand').parent().parent().parent().show();
        // $('#id_stand').val('');
      } else {
        $('#id_stand').parent().parent().parent().hide();
        // $('#id_stand').val('');
        $('#id_shelf').parent().parent().parent().show();
        // $('#id_shelf').val('');
      }
    });

    $('#id_is_stand').trigger('change');
  });
</script>

{% endblock %}
