{% extends "components/base.html" %}

{% load i18n %}

{% load form_tags %}

{% block content %}

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "Search" as search %}
        <h2>{{search | upper}}</h2>
      </div>
      <div class="body">
        <form method="get" action="">
          <div class="row clearfix">
            {% for field in form_search %}
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                {% if field.field.widget.input_type == 'select' %}
                  {{field}}
                {% elif field.field.widget.input_type == 'checkbox' %}
                  {{field}}
                  <label for="{{field.auto_id}}">{{field.label}}</label>
                  {% elif field.field.widget.input_type == 'text' %}
                  <div class="form-line">{{field}}
                    <label class="form-label">{{field.label}}</label>
                  </div>
                {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
              <!--input type="checkbox" id="remember_me_4" class="filled-in">
              <label for="remember_me_4">Remember Me</label-->
              <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">{{search}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "Archives" as archives_title %}
        <h2>{{ archives_title | upper }}</h2>
      </div>
      <div class="body table-responsive table-striped">
        {% include "components/messages.html" with form=None %}
        <table class="table">
          {% trans "Code" as code %}
          {% trans "Valdity" as validity %}
          {% trans "Keywords" as keywords %}
          {% trans "Location" as location %}
          {% trans "Actions" as action %}
          {% trans "Year" as year %}
          <thead>
            <tr>
              <th>{{ code | upper }}</th>
              <th>{{ validity | upper }}</th>
              <th>{{ keywords | upper }}</th>
              <th>{{ location | upper  }}</th>
              <th>{{ actions | upper }}</th>
            </tr>
          </thead>
          <tbody>
            {% for a in archives %}
              <tr class="">
                <td>{{a.code.code}} - {{a.code.title}}</td>
                <td>
                  <span class="badge {% if a.is_invalid %}bg-red{% else %}bg-green{% endif %}">
                    {{a.validity_date}}
                  </span>
                </td>
                <td>{% if a.keywords %}{{ a.keywords }}{%endif%}</td>
                <td>{{a.location | safe }}</td>
                <td>
                  <div class="btn-group " role="group">
                    <a href="{% url 'archives:detail' a.id %}" class="btn btn-default waves-effect btn-xs" target="_blank"><i class="material-icons">visibility</i></a>
                    {% if a.file %}
                      <a href="{{a.file.url}}" class="btn btn-default waves-effect btn-xs" target="_blank"><i class="material-icons">insert_drive_file</i></a>
                    {% else %}
                      <a href="#" class="btn btn-default waves-effect btn-xs" disabled target="_blank"><i class="material-icons">insert_drive_file</i></a>
                    {% endif %}
                    <a href="{% url 'archives:edit' a.id %}" class="btn btn-primary waves-effect btn-xs"><i class="material-icons">create</i></a>
                    {% if user.is_superuser %}
                      <a href="{% url 'archives:delete' a.id %}" class="btn btn-danger waves-effect btn-xs"><i class="material-icons">delete</i></a>
                    {% endif %}
                  </div>
                </td>
            {% endfor %}
        </table>
      </div>
    </div>
    <div class="footer">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="waves-effect" ><a href="?{% url_replace page=page_obj.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}
            <li class="">
                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
            </li>
          {% if page_obj.has_next %}
              <li class="waves-effect"><a href="?{% url_replace page=page_obj.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
            <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
    </div>
  </div>
</div>

{% endblock %}
