{% extends "components/base.html" %}

{% load i18n %}

{% load static %}

{% block extra_css %}
  <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>{% trans "Detail" %} {{code.title}}</h2>
        </div>
        <div class="body">
          <p><b>{% trans "Title" %}: </b> {{code.title}}</p>
          <p><b>{% trans "Validity" %}: </b> {{code.validity}}</p>
          <p><b>{% trans "Code" %}: </b> {{code.code}}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}


{% endblock %}
