{% extends "components/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'plugins/sweetalert/sweetalert.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="block-header">
    <h2>{% trans 'Details' %}</h2>
  </div>
  <!-- Input -->
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="header">
          <h2>Detail {{user.full_name}}</h2>
        </div>
        <div class="body">
          <p><b>First Name: </b> {{user.first_name}}</p>
          <p><b>Last Name: </b> {{user.last_name}}</p>
          <p><b>Gender: </b> {{user.gender }}</p>
          <p><b>Birth:  </b> {{user.birth}}</p>
          <p><b>Phone: </b> {{user.phone}}</p>
          <br>
          <br>
        </div>
      </div>
    </div>

  </div>


  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
  </div>



{% endblock %}

{% block extra_js %}


{% endblock %}
