{% extends "components/base.html" %}

{% load i18n %}

{% load form_tags %}

{% block content %}

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "Search" as search %}
        <h2>{{search | upper }}</h2>
      </div>
      <div class="body">
        <form method="get" action="">
          <div class="row clearfix">
            {% for field in form_search %}
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <div class="form-group form-float">
                {% if field.field.widget.input_type == 'select' %}
                  {{field}}
                {% elif field.field.widget.input_type == 'checkbox' %}
                  {{field}}
                  <label for="{{field.auto_id}}">{{field.label}}</label>
                  {% elif field.field.widget.input_type == 'text' %}
                  <div class="form-line">{{field}}
                    <label class="form-label">{{field.label}}</label>
                  </div>
                {% endif %}
                </div>
              </div>
            {% endfor %}

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">{{search}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "Users" as users_title %}
        <h2>{{users_title | upper}}</h2>
      </div>
      <div class="body table-responsive">
        {% include "components/messages.html" with form=None %}
        <table class="table">
          {% trans "First name" as first_name %}
          {% trans "Last name" as last_name %}
          {% trans "Email" as email %}
          {% trans "Actions" as actions %}
          <thead>
            <tr>
              <th>{{ first_name | upper }}</th>
              <th>{{ last_name | upper }}</th>
              <th>{{ email | upper }}</th>
              <th>{{ actions | upper }}</th>
            </tr>
          </thead>
          <tbody>
            {% for u in users %}
              <tr>
                <td>{{u.first_name}}</td>
                <td>{{u.last_name}}</td>
                <td>{{u.email}}</td>
                <td>
                  <div class="btn-group" role="group">
                    <a href="{% url 'users:detail' u.id %}" class="btn btn-default waves-effect btn-xs"><i class="material-icons">visibility</i></a>
                    {% if user.is_superuser %}
                      <a href="{% url 'users:change' u.id %}" class="btn btn-default waves-effect btn-xs"><i class="material-icons">lock</i></a>
                    {% endif %}
                    <a href="{% url 'users:edit' u.id %}" class="btn btn-info waves-effect btn-xs"><i class="material-icons">create</i></a>
                    <a href="{% url 'users:delete' u.id %}" class="btn btn-danger waves-effect btn-xs"><i class="material-icons">delete</i></a>
                  </div>
                </td>
              </tr>
            {% empty %}
            <tr>
              <td colspan="5">Sem usuários</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="footer">
      {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="waves-effect" ><a href="?{% url_replace page=page_obj.previous_page_number %}"><i class="material-icons">chevron_left</i></a></li>
          {% else %}
            <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}
            <li class="">
                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
            </li>
          {% if page_obj.has_next %}
              <li class="waves-effect"><a href="?{% url_replace page=page_obj.next_page_number %}"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
            <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
