{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>CRM</title>
  <!-- Favicon-->
  <link rel="icon" href="../../favicon.ico" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core Css -->
  <link href="{% static 'plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Waves Effect Css -->
  <link href="{% static 'plugins/node-waves/waves.css' %}" rel="stylesheet" />

  <!-- Animation Css -->
  <link href="{% static 'plugins/animate-css/animate.css' %}" rel="stylesheet" />

  <!-- Custom Css -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <link href="{% static 'plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" />

  <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
  <link href="{% static 'css/themes/all-themes.css' %}" rel="stylesheet" />

  {% block extra_css %}

  {% endblock %}
</head>

<body class="theme-red">
  <!-- Page Loader -->
  <div class="page-loader-wrapper">
    <div class="loader">
      <div class="preloader">
        <div class="spinner-layer pl-red">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <p>Please wait...</p>
    </div>
  </div>
  <!-- #END# Page Loader -->
  <!-- Overlay For Sidebars -->
  <div class="overlay"></div>
  <!-- #END# Overlay For Sidebars -->
  <!-- Search Bar -->
  <div class="search-bar">
    <div class="search-icon">
      <i class="material-icons">search</i>
    </div>
    <input type="text" placeholder="START TYPING...">
    <div class="close-search">
      <i class="material-icons">close</i>
    </div>
  </div>
  <!-- #END# Search Bar -->
  <!-- Top Bar -->
  {% include 'components/topbar.html' %}
  <!-- #Top Bar -->
  <section>
    <!-- Left Sidebar -->
    {% include 'components/sidebar-left.html' %}
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    {% include 'components/sidebar-rigth.html' %}
    <!-- #END# Right Sidebar -->
  </section>

  <section class="content">
    <div class="container-fluid">
      {% block content %}

      {% endblock %}
    </div>
  </section>

  <!-- Jquery Core Js -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

  <!-- Bootstrap Core Js -->
  <script src="{% static 'plugins/bootstrap/js/bootstrap.js' %}"></script>

  <!-- Select Plugin Js -->
  <script src="{% static 'plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>

  <!-- Slimscroll Plugin Js -->
  <script src="{% static 'plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

  <!-- Waves Effect Plugin Js -->
  <script src="{% static 'plugins/node-waves/waves.js' %}"></script>

  <!-- Custom Js -->
  <script src="{% static 'js/admin.js' %}"></script>

  <!-- Demo Js -->
  <script src="{% static 'js/demo.js' %}"></script>

  {% block extra_js %}

  {% endblock %}
</body>

</html>
