{% load form_tags %}

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5>Mensagem</h5>
          {{ message }}
        </div>
      {% endfor %}
      {# <script>setTimeout(function(){$(".callout").remove();}, 5000);</script> #}
    {% endif %}

    {% if form and form.errors %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5>Alerta</h5>
        <ul>
          {% for key, value in form.errors.items %}
          <li>{% get_label key form %} : {{ value|escape }}</li>
          {% endfor %}
        </ul>
        {# <li>{{ key|escape }} {% get_label key form %} : {{ value|escape }}</li> #}
      </div>
    {% endif %}

    {% comment %}
    {% for error in form.non_field_errors %}
        <li>{{ key|escape }} : {{ value|escape }}</li>
    {% endfor %}
    {% endcomment %}
  </div>
</div>
