{% load i18n %}
<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
    <div class="image">
        {# <img src="../../images/user.png" width="48" height="48" alt="User" /> #}
    </div>
    <div class="info-container">
      <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.full_name}}</div>
      <div class="email">{{user.email}}</div>
      <div class="btn-group user-helper-dropdown">
        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
        <ul class="dropdown-menu pull-right">
          <li><a href="{% url 'users:profile' %}"><i class="material-icons">person</i>{% trans "Profile" %}</a></li>
          <li role="seperator" class="divider"></li>
          <li><a href="{% url 'users:profile-pass' %}"><i class="material-icons">lock</i>{% trans "Change Password" %}</a></li>
          <li role="seperator" class="divider"></li>
          <li><a href="{% url 'core:logout' %}"><i class="material-icons">input</i>{% trans "Sign Out" %}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- #User Info -->
  <!-- Menu -->
  <div class="menu">
    <ul class="list">
      <li class="header">{% trans "NAVIGATION" %}</li>
      <li class="active">
        <a href="{% url 'core:home' %}">
          <i class="material-icons">home</i>
          <span>{% trans "Home" %}</span>
        </a>
      </li>
      {% if user.is_superuser %}
      <li>
        <a href="javascript:void(0);" class="menu-toggle">
          <i class="material-icons">people</i>
          <span>{% trans "Users" %}</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a href="{% url 'users:list' %}">{% trans "List users" %}</a>
          </li>
          <li>
            <a href="{% url 'users:new' %}">{% trans "New user" %}</a>
          </li>
        </ul>
      </li>
      {% endif %}
      <li>
        <a href="javascript:void(0);" class="menu-toggle">
          <i class="material-icons">folder</i>
          <span>{% trans "Archives" %}</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a href="{% url 'archives:list' %}">{% trans "List archives" %}</a>
          </li>
          <li>
            <a href="{% url 'archives:new' %}">{% trans "New archive" %}</a>
          </li>
        </ul>
      </li>
      {% if user.is_superuser %}
      <li>
        <a href="javascript:void(0);" class="menu-toggle">
          <i class="material-icons">group_work</i>
          <span>{% trans "Groups" %}</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a href="{% url 'groups:list' %}">{% trans "List groups" %}</a>
          </li>
          <li>
            <a href="{% url 'groups:new' %}">{% trans "New group" %}</a>
          </li>
        </ul>
      </li>
      {% endif %}
      <li>
        <a href="{% url 'core:generate' %}">
          <i class="material-icons">class</i>
          <span>{% trans "Mirror" %}</span>
        </a>
      </li>
      {% if user.is_superuser %}
      <li>
        <a href="javascript:void(0);" class="menu-toggle">
          <i class="material-icons">receipt</i>
          <span>{% trans "Codes" %}</span>
        </a>
        <ul class="ml-menu">
          <li>
            <a href="{% url 'codes:list' %}">{% trans "List codes" %}</a>
          </li>
          <li>
            <a href="{% url 'codes:new' %}">{% trans "New code" %}</a>
          </li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <!-- #Menu -->
  <!-- Footer -->
  <div class="legal">
    <div class="copyright">
      <img src="/static/img/logo.png" style="height: 50px;" />
      <br>
      (86) 9 8806-3493 - Lindemberg Gomes
      <br>
      (86) 9 8127-7728 - Madson Henrique
      <br>
      email: arquivcerto@outlook.com.
      <br>
      &copy; 2018 <a href="#">Arquiv Certo</a>.
    </div>
    <div class="version">
      <b>Version: </b> 1.2.1
    </div>
  </div>
  <!-- #Footer -->
</aside>
