{% extends "components/base.html" %}

{% load i18n %}

{% block content %}


<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        <h2>{% trans "Delete group" %}</h2>
      </div>
      <div class="body">
        <h3>{% trans "You want to delete the group" %}  "{{ object }}" ?</h3>
        <form method="post" action="">
          {% csrf_token %}
          <br>
          <div class="row">
            <a class="btn red" href="{% url 'groups:list' %}">
              {% trans "Cancel"%}
            </a>
            <button type="submit" value="" class="btn green" >
              {% trans "Delete"%}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
