{% extends "components/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="block-header">
</div>
<!-- Input -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "Form group" as form_group %}
        <h2>{{ form_group | upper }}</h2>
      </div>
      <div class="body">
        {% include "components/messages.html" with form=form %}
          <form id="form_group" class="" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group form-float">
                {% for f in form %}
                {{f}}
                {% endfor %}
              </div>
            </div>
          </div>
          <a href="{% url 'groups:list' %}" class="btn btn-danger waves-effect">{% trans "Cancel" %}</a>
          <button type="submit" class="btn btn-primary waves-effect">{% trans "Send" %}</button>
          </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extra_js %}


{% endblock %}
