{% extends "components/base.html" %}

{% load i18n %}

{% block content %}

<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "Search" as search %}
        <h2>{{search|upper}}</h2>
      </div>
      <div class="body">
        <form method="get" action="">
          <div class="row clearfix">
            {% for field in form_search %}
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <div class="form-group form-float">
              {% if field.field.widget.input_type == 'select' %}
                {{field}}
              {% elif field.field.widget.input_type == 'checkbox' %}
                {{field}}
                <label for="{{field.auto_id}}">{{field.label}}</label>
                {% elif field.field.widget.input_type == 'text' %}
                <div class="form-line">{{field}}
                  <label class="form-label">{{field.label}}</label>
                </div>
              {% endif %}
              </div>
              </div>
            {% endfor %}

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
              <button type="submit" class="btn btn-primary btn-lg m-l-15 waves-effect">{{search}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "Groups" as groups_title %}
        <h2>{{groups_title|upper}}</h2>
      </div>
      <div class="body table-responsive">
        {% include "components/messages.html" with form=None %}
        <table class="table">
          {% trans "Name" as name %}
          {% trans "Actions" as actions %}
          <thead>
            <tr>
              <th>{{name | upper}}</th>
              <th>{{actions | upper}}</th>
            </tr>
          </thead>
          <tbody>
            {% for g in groups %}
              <tr>
                <td>{{g.name}}</td>
                <td>
                  <div class="btn-group " role="group">
                    <a href="{% url 'groups:edit' g.id %}" class="btn btn-info waves-effect btn-xs"><i class="material-icons">create</i></a>
                    <a href="{% url 'groups:delete' g.id %}" class="btn btn-danger waves-effect btn-xs"><i class="material-icons">delete</i></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
