{% extends "components/base.html" %}

{% load i18n %}

{% load static %}

{% block extra_css %}
  <link href="{% static 'adminbsb-materialdesign/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="block-header">
</div>
<!-- Input -->
<div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        {% trans "form mirror" as form_mirror %}
        <h2>{{form_mirror | upper}}</h2>
      </div>
      <div class="body">
        {% include "components/messages.html" with form=form %}
          <form id="form_email" class="" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for fieldset in form.fieldsets %}
            <div class="row">
              <div class="col-sm-12">
                <h2>{{fieldset.title}}</h2>
              </div>
            </div>
            <div class="row">
                {% for field in fieldset %}
                <div class="col-sm-3">
                  <div class="form-group form-float">
                    {% comment %}
                      {% if field.errors %}
                        <p>{{ field.errors }}</p>
                      {% endif %}
                    {% endcomment %}

                    {% if field.field.widget.input_type == 'select' %}
                      {{field}}
                    {% elif field.field.widget.input_type == 'checkbox' %}
                      {{field}}
                      <label for="{{field.auto_id}}">{{field.label}}</label>
                    {% else %}
                      <div class="form-line">{{field}}
                        <label class="form-label">{{field.label}}</label>
                      </div>
                    {% endif %}

                    {% if field.help_text  %}
                      <p class="help-text" id="{{field.id_for_label}}">
                        {{field.help_text|safe}}
                      </p>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
            </div>
          {% endfor %}
          <a href="{% url 'users:list' %}" class="btn btn-danger waves-effect">
            {% trans "Cancel" %}
          </a>
          <button type="submit" class="btn btn-primary waves-effect">{% trans "Send" %}</button>
          </form>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extra_js %}

{% endblock %}
