{% extends "components/base.html" %}

{% load i18n %}

{% block content %}

<div class="block-header">
    <h2>DASHBOARD</h2>
</div>

<!-- Widgets -->
<div class="row clearfix">
  {% include "components/messages.html" with form=None %}
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box-3 bg-pink hover-zoom-effect">
      <a href="{% url 'archives:list' %}">
        <div class="icon">
          <i class="material-icons">folder</i>
        </div>
      </a>
      <div class="content">
        <div class="text">{% trans 'Archives' %}</div>
        <div class="number">{{archives}}</div>
      </div>
    </div>
  </div>
  {% if user.is_superuser %}
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box-3 bg-blue hover-zoom-effect">
      <a href="{% url 'groups:list' %}">
        <div class="icon">
          <i class="material-icons">group_work</i>
        </div>
      </a>
      <div class="content">
        <div class="text">{% trans 'Groups' %}</div>
        <div class="number">{{groups}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box-3 bg-light-blue hover-zoom-effect">
      <a href="{% url 'codes:list' %}">
        <div class="icon">
          <i class="material-icons">receipt</i>
        </div>
      </a>
      <div class="content">
        <div class="text">{% trans 'Codes' %}</div>
        <div class="number">{{codes}}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="info-box-3 bg-cyan hover-zoom-effect">
      <a href="{% url 'users:list' %}">
        <div class="icon">
          <i class="material-icons">people</i>
        </div>
      </a>
      <div class="content">
        <div class="text">{% trans 'Users' %}</div>
        <div class="number">{{users}}</div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endblock %}
