{% load form_tags %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="CREATED" CONTENT="20180526;22432389712500">
	<META NAME="CHANGED" CONTENT="20180719;203359344120800">
	<STYLE TYPE="text/css">
	img {
		margin: 10px;
	}
	<!--
		@page { margin: 0.79in }
		P { margin-bottom: 0.1in; direction: ltr; color: #000000; line-height: 115%; widows: 2; orphans: 2 }
		P.western { font-family: "Liberation Serif", "Times New Roman", serif; font-size: 14pt; so-language: pt-BR }
		P.cjk { font-family: "Noto Sans CJK SC Regular"; font-size: 14pt; so-language: zh-CN }
		P.ctl { font-family: "Lohit Devanagari"; font-size: 14pt; so-language: hi-IN }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" BGCOLOR="#ffffff" DIR="LTR">
<TABLE WIDTH=950 HEIGHT=100% CELLPADDING=4 CELLSPACING=0 STYLE="page-break-before: always">
	<COL WIDTH=312>
	<COL WIDTH=313>
	<TR VALIGN=TOP>
		<TD WIDTH=312 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.20in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="pt-BR" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=6>{{code1.code}}</FONT></P>
			<P LANG="pt-BR" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=6>{{code1.title}}</FONT></P>
			<P LANG="pt-BR" ALIGN=CENTER> <FONT SIZE=6>{% if code1.valility == 0 %} Permanente {% else %} {{code1.validity}} anos{% endif%}</FONT></P>
		</TD>
		<TD WIDTH=313 STYLE="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0.20in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="pt-BR" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=6>{{code2.code}}</FONT></P>
			<P LANG="pt-BR" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=6>{{code2.title}}</FONT></P>
			<P LANG="pt-BR" ALIGN=CENTER> <FONT SIZE=6>{% if code2.valility == 0 %} Permanente {% else %} {{code2.validity}} anos {% endif%}</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=312 HEIGHT=112 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
                        <P LANG="pt-BR" ALIGN=CENTER><BR>
			<P LANG="pt-BR" ALIGN=CENTER STYLE="margin-bottom: 0in">{% for y in year1|split %}<FONT SIZE=6 STYLE="font-size: 28pt"> {{y}} </FONT> {% autoescape on %} {% cycle '' '' '<br><br>' %}{% endautoescape %} {% endfor %}</P>
			{##}

			</P>
		</TD>
		<TD WIDTH=313 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
<P LANG="pt-BR" ALIGN=CENTER><BR>
			<P LANG="pt-BR" ALIGN=CENTER STYLE="margin-bottom: 0in"><FONT SIZE=6 STYLE="font-size: 28pt">{{year2}}</FONT></P>

			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=312 HEIGHT=113 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in"><BR>
			<P LANG="pt-BR" ALIGN=CENTER><FONT SIZE=6 STYLE="font-size: 28pt">{{box1}}</FONT></P>
		</TD>
		<TD WIDTH=313 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in"><BR>
			<P LANG="pt-BR" ALIGN=CENTER><FONT SIZE=6 STYLE="font-size: 28pt">{{box2}}</FONT></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=312 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<P LANG="pt-BR" STYLE="margin-bottom: 0in; margin-left:155px;">
			<!-- <IMG SRC="/static/img/logo.png" NAME="graphics2" ALIGN=LEFT WIDTH=110 HEIGHT=85 BORDER=0> -->
			<IMG SRC="/static/img/crm.png" NAME="graphics1" ALIGN=LEFT WIDTH=142 HEIGHT=104 BORDER=0><BR>
			</P>
			<P LANG="pt-BR" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="pt-BR" STYLE="margin-bottom: 0in"><BR>
			</P>
			<P LANG="pt-BR" STYLE="margin-bottom: 0in"><BR>
			</P>
			</P>
		</TD>
		<TD WIDTH=313 STYLE="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<P LANG="pt-BR" style="margin-left:155px;">
			<!-- <IMG SRC="/static/img/logo.png" NAME="graphics4" ALIGN=LEFT WIDTH=110 HEIGHT=85 BORDER=0> -->
			<IMG SRC="/static/img/crm.png" NAME="graphics3" ALIGN=LEFT WIDTH=142 HEIGHT=104 BORDER=0><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
<P LANG="pt-BR" CLASS="western" STYLE="margin-bottom: 0in; line-height: 100%">
<BR>
</P>
</BODY>
</HTML>
